/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information on how you can configure this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

const openWeatherPIKey = "58e67f9d32a07ca53ac378222ed1c66a";
const dublinWeatherLocationID = "2964574";

var config = {
	address: "localhost", // Address to listen on, can be:
	                      // - "localhost", "127.0.0.1", "::1" to listen on loopback interface
	                      // - another specific IPv4/6 to listen on a specific interface
	                      // - "0.0.0.0", "::" to listen on any interface
	                      // Default, when address config is left out or empty, is "localhost"
	port: 8080,
	ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1"], // Set [] to allow all IP addresses
	                                                       // or add a specific IPv4 of 192.168.1.5 :
	                                                       // ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.1.5"],
	                                                       // or IPv4 range of 192.168.3.0 --> 192.168.3.15 use CIDR format :
	                                                       // ["127.0.0.1", "::ffff:127.0.0.1", "::1", "::ffff:192.168.3.0/28"],

	useHttps: false, 		// Support HTTPS or not, default "false" will use HTTP
	httpsPrivateKey: "", 	// HTTPS private key path, only require when useHttps is true
	httpsCertificate: "", 	// HTTPS Certificate path, only require when useHttps is true

	language: "en",
	timeFormat: 24,
	units: "metric",
	// serverOnly:  true/false/"local" ,
			     // local for armv6l processors, default
			     //   starts serveronly and then starts chrome browser
			     // false, default for all  NON-armv6l devices
			     // true, force serveronly mode, because you want to.. no UI on this device

	modules: [
		/*{
			module: "alert",
		},*/
		{
			module: "updatenotification",
			position: "top_bar"
		},
		{
			module: "clock",
			position: "top_left",
			config: {
				showSunTimes: true,
				showMoonTimes: true,
				showPeriodUpper: true,
				analogPlacement: 'top',
			}
		},
		/*{
			module: "calendar",
			header: "US Holidays",
			position: "top_left",
			config: {
				calendars: [
					{
						symbol: "calendar-check",
						url: "webcal://www.calendarlabs.com/ical-calendar/ics/76/US_Holidays.ics"					}
				]
			}
		},*/
		{
			module: "currentweather",
			position: "top_left",
			config: {
				iconTable: "wi-night-alt-cloudy-windy",
				location: "Dublin",
				locationID: dublinWeatherLocationID,
				appid: openWeatherPIKey
			}
		},
		{
			module: 'MMM-GoogleFit',
			position: 'top_center',
			config: {
				stepCountLabel: true,
				lastSevenDays: true,
			}
		},
		{
			module: "MMM-Spotify",
			position: "center",
			config: {
				style: "default", // "default" or "mini" available
				control: "default", //"default", "hidden" available
				updateInterval: 1000,
				onStart: null, // disable onStart feature with `null`
				allowDevices: [], //If you want to limit devices to display info, use this.
			}
		},
		{
			module: "weatherforecast",
			position: "top_right",
			header: "Weather Forecast",
			config: {
				location:   "Dublin",
				maxNumberOfDays: 14,
				locationID: dublinWeatherLocationID,
				appid:      openWeatherPIKey
			}
		},
		/*{
			module: "compliments",
			position: "middle_center "
		},*/
		{
			module: "newsfeed",
			position: "middle_center",
			config: {
				feeds: [
					{
						title: "New York Times",
						url: "http://www.nytimes.com/services/xml/rss/nyt/HomePage.xml"
					},
					{
						title: "CNN",
						url: "http://rss.cnn.com/rss/cnn_topstories.rss"
					},
				],
				showSourceTitle: true,
				showPublishDate: true,
				showDescription: true,
				broadcastNewsFeeds: true,
				broadcastNewsUpdates: true

			}
		},
		{
			module: "MMM-COVID19",
			position: "lower_third",
			config: {
				infoRowClass: 'small',
				updateInterval: 300000,
				worldStats: true,
				delta: true,
				lastUpdateInfo: true,
				orderCountriesByName: true,
				countries: ["Ireland", "Portugal", "Romania", "Singapore", "USA"],
				headerRowClass: "small",
				rapidapiKey: "578f09444amshb45fa90154aa7f5p13bbd1jsn1d1e46ab6ca1"
			}
		},
		{
			module: 'MMM-SystemStats',
			position: 'bottom_left', // This can be any of the regions.
			classes: 'small', // Add your own styling. OPTIONAL.
			// header: 'System Stats', // Set the header text OPTIONAL
			config: {
				updateInterval: 10000, // every 10 seconds
				align: 'left', // align labels
				//header: 'System Stats', // This is optional
				units: 'metric', // default, metric, imperial
				view: 'icon',
			},
		},
		{
			module: 'MMM-pihole-stats',
			position: 'bottom_center',
			config: {
				updateInterval: 5 * 60 * 1000, //600, // every 5 mins
				animationSpeed: 0,
			}
		},
		{
			module: 'MMM-WiFiPassword',
			position: "bottom_right",
			config: {
				network: "Ancutza_Kami",
				password: "Iris94410691",
			}
		},
		{
			module: 'MMM-NetworkConnection',
			position: 'bottom_left',
			config: {
				displayTextStatus: true,
				maxTime: 5000,
				//updateInterval: 1000,
				animationSpeed: 0,
				useSmallIcons: true,
			}
		},
	]
};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== "undefined") {module.exports = config;}
